.start{
    display: flex;
    flex-direction: row;
    color: #010000;
    align-items: center;
    justify-content: center;
    gap: 100px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 30px;
}
.last{
    display: flex;
    flex-direction: row;
    color: #010000;
    align-items: center;
    justify-content: center;
    gap: 100px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 30px;
}
.page{
    background-color: burlywood;
    back
}