body{
  background-image: url("src/images/coffeeimage.jpg");
  background-size:100% 50vh;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-color: rgb(1, 0, 0);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: black;
  font-size: x-large;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}
.nav-link{
  margin: 10px;
  color: white;
  margin-bottom: 20px;
}