body{
  background-image: url("src/images/coffeeimage.jpg");
  background-size:100% 50vh;
  margin-top: 0;
  background-repeat: no-repeat;
  background-color: rgb(1, 0, 0);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: black;
  font-size: x-large;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}
.nav-link{
  margin: 10px;
  color: white;
}
.about{
  
  background-color: rgb(231, 136, 12);
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
  font-size: larger;
  font-family: fantasy;
}
p{
  color: rgb(66, 66, 99);
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
  font-size: larger;
}
.image{
  width: 15cm;
  height: 10cm;
  margin-left: 10px;
  border-radius: 40px;
}
.mission{
  flex-direction: column;
  display: flex;
  justify-content:right;
  align-items: center;
}
.p{
  
  display: flexbox;
  justify-content: center;
  align-items: end;


}
.logo{
  width: 10cm;
  height: 7cm;
  margin-left: 10px;
  border-radius: 100rcap;

}
.div{
  color: rgb(66, 66, 99);
  font-size: larger;

}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(66, 66, 99);
}
.service{
  background-color: rgb(88, 39, 3);
}
.our{
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2{
  margin-left: 50px;
}
.paragraph{
  color: black;
  font-size: x-large;
  margin-left: 200px;
  margin-right: 200px;
}
.tel{
  width: 3cm;
  height: 2cm;
  margin-left: 250px;
}
.star{
  width: 3cm;
  height: 2cm;
  margin-left: 250px;
}
.h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-left: 450px;
  margin-right: 450px;
}
.cafe{
  width: 12cm;
  height: 9cm;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;

}